---
---

//Start content
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "reset",
        "typography",
        "menu",
        "colours",
        "forms",
        "accordion";

::selection {
  background-color: $color-accent;
  color: $color-white;
}
.body {
  background-color: $color-pageBg;
  color: $color-text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
	@extend .font-text;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inner {
  width: calc(100vw - 30px);
  margin: 0 auto;

  @media(min-width: 600px)
  {
      width: calc(100% - 30px);
      min-width: 0;
      max-width: calc(100% - 30px);
  }
  @media(min-width: 1024px)
  {
      width: calc(1024px - 60px);
      max-width: calc(1024px - 60px);
  }
}
/* Buttons */
.button {
  @extend .font-text;
  background-color: transparent;
  border: 2px solid $color-white;
  border-color: $color-white;
  border-radius: 3px;
  color: $color-white;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
}
.button--cta {
  @extend .button-text;
  font-size: 24px;
  text-transform: uppercase;
  transition: 0.2s;

  &:hover {
    background-color: $color-buttonCtaHoverBackground;
    color: $color-buttonCtaHoverColor;
  }
}
.button--ctaDark {
  @extend .button--cta;
  border-color: $color-textSecondary;
  color: $color-textSecondary;

  &:hover {
    background-color: $color-buttonCtaDarkHoverBackground;
    color: $color-buttonCtaDarkHoverColor;
  }
}

.link {
  border-bottom: 2px solid;
  text-decoration: none;
}
.link--secondary {
  color: $color-white;
}

.list {
  list-style-type: circle;
  margin-bottom: 1em;
  padding-left: 1em;
}

/* Hero */
.hero {
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/images/hero.png');
  background-size: cover;
  border-bottom: 3px solid $color-sectionBorderLight;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80vh;
}
.hero_headline {
  @extend .headlineLargest;
  text-align: center;
}
.hero_text {
  font-weight: 300;
  font-size: 24px;
  padding: 3em 1em;
  max-width: 33em;
  text-align: center;

  @media (width > 700px)
  {
    padding: 3em 0;
  }
}

/* Autumn ball */
.hero--ball {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/images/soiree_elegante.jpg');
  background-position: center center;
}

/* Gasque */
.hero--gasque {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/images/flirtation.jpg');
  background-position: 20% center;
  transition: 0.5s;

  @media (min-width: 1000px)
  {
    background-position: center center;
  }
}
.hero--about {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/images/om_orden.jpg');
  background-position: center center;
  transition: 0.5s;
}

/* Education */
.hero--education {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/images/the-concert.jpg');
  background-position: 70% center;
  transition: 1s;

  @media (min-width: 600px) {
    background-position: 0 30%;
  }
}

/* Autumn ball */
.puffBall {
  background-color: $color-eventBg;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.puffBall_main {
  flex-basis: 100%;
  padding: 3rem;

  @media (width > 700px)
  {
    flex-basis: 50%;
  }
}
.puffBall_aux {
  display: none;
  flex-basis: 50%;
  max-width: 50%;
  max-height: 500px;
  object-fit: cover;
  object-position: 0 20%;

  @media (width > 700px) {
    display: flex;
  }
}
.puffBall_headline {
  @extend .headlineLarge;
  margin: 0 0 0.5em 0;
}
.puffBall_text {
  @extend .font-text;
  margin: 0 0 2em 0;
  max-width: 33em;
}

/* Autumn ball */
.puffGasque {
  align-items: center;
  background: $color-gasqueBg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.puffGasque::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/gasque-overlay.jpg');
  opacity: 0.08;
  z-index: -1; /* Ensure background image is behind the text */
}
.puffGasque_main {
  padding: 3rem;
}
.puffGasque_aux {
  flex-basis: 30%;
  max-height: 250px;
  object-fit: contain;
}
.puffGasque_headline {
  @extend .headlineLargest;
  color: $color-textSecondary;
  margin: 0 0 0.5em 0;
}
.puffGasque_text {
  @extend .font-text;
  color: $color-textSecondary;
  margin: 0 0 2em 0;
  max-width: 33em;
}

/* Info page */
.page_container {
  padding: 2em 2em;
  margin: 0 auto;
  max-width: 33em;

  @media (min-width: 620px) {
    padding: 2em 0em;
  }
}
.page_headline {
  @extend .headlineLarge;
  margin-bottom: 0.2em;
}
.page_text {
  @extend .font-text;
  margin-bottom: 1em;
  max-width: 33em;
}
.page_text--last {
  margin-bottom: 2em;
}

.contentGrid {
  display: grid;
  grid-template-columns: auto auto auto;

  @media (min-width: 700px) {
    grid-template-columns: auto 33em auto;
  }
}
.flex_filler {
  display: flex;
  flex-grow: 1;
}
.footer {
	color: $color-text;
	padding: 4em 2em 2em 2em;
	text-align: center;
}
