---
---

//Start content
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "reset",
        "typography",
        "colours";
* {
  box-sizing: border-box;
}
::selection {
  background-color: $color-accent;
  color: $color-white;

}
@keyframes ctaBackground {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
.body {
  align-items: center;
  background-color: $color-pageBg;
  color: $color-text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
	@extend .font-text;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inner {
  width: calc(100vw - 30px);
  margin: 0 auto;

  @media(min-width: 600px)
  {
      width: calc(100% - 30px);
      min-width: 0;
      max-width: calc(100% - 30px);
  }
  @media(min-width: 1024px)
  {
      width: calc(1024px - 60px);
      max-width: calc(1024px - 60px);
  }
}
.pageContainer {
  background-color: $color-whiteLinen;
  width: 100%;
}

/* Navigation */
.navigation--top {
  align-items: center;
  justify-self: start;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
//  margin: 0 0 auto 0;
  max-width: 920px;
  padding: 1em 2em;
  text-transform: uppercase;
  width: 100%;
}
.navigation_link {
  color: $color-white;
  text-decoration: none;
}

.symbol {
  object-fit: contain;
  max-height: 50px;
  max-width: 50px;
}
.link {
  border-bottom: 2px solid;
  text-decoration: none;
}
.link--secondary {
  color: $color-white;
}

.section--mainEvent {
  background-color: $color-mainEventBg;
}

/* Hero */
.section--hero {
  align-items: center;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/images/hero.png');
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  min-height: 80vh;
}
.description_headline {
  @extend .headlineLargest;
  margin-bottom: 0.7em;
  text-align: center;
}
.description_text {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 3em;
  max-width: 33em;
  text-align: center;

  &:last-child {
      margin-bottom: 0;
  }
}

/* Autumn ball */
.section--mainEvent {
  padding: 3rem;
}

/* About */
.section--about {
  background-color: $color-aboutBg;
}

.flex_filler {
  display: flex;
  flex-grow: 1;
}
.footer {
	color: $color-text;
	padding: 4em 2em 2em 2em;
	text-align: center;
}
