---
---

//Start content
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "reset",
        "typography",
        "colours";
* {
  box-sizing: border-box;
}
::selection {
  background-color: $color-accent;
  color: $color-white;

}
.body {
  background-color: $color-pageBg;
  color: $color-text;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
	@extend .font-text;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inner {
  width: calc(100vw - 30px);
  margin: 0 auto;

  @media(min-width: 600px)
  {
      width: calc(100% - 30px);
      min-width: 0;
      max-width: calc(100% - 30px);
  }
  @media(min-width: 1024px)
  {
      width: calc(1024px - 60px);
      max-width: calc(1024px - 60px);
  }
}
.pageContainer {
  width: 100%;
}
/* Buttons */
.button {
  @extend .font-text;
  background-color: transparent;
  border: 2px solid $color-white;
  border-color: $color-white;
  border-radius: 3px;
  color: $color-white;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
}
.button--cta {
  @extend .button-text;
  font-size: 24px;
  text-transform: uppercase;

  &:hover {
    background-color: $color-buttonCtaHoverBackground;
    color: $color-buttonCtaHoverColor;
  }
}
.button--ctaDark {
  @extend .button--cta;
  border-color: $color-textSecondary;
  color: $color-textSecondary;

  &:hover {
    background-color: $color-buttonCtaDarkHoverBackground;
    color: $color-buttonCtaDarkHoverColor;
  }
}

/* Navigation */
.navigation--top {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 920px;
  padding: 1em 2em;
  text-transform: uppercase;
  width: 100%;
}
.navigation_link {
  color: $color-white;
  text-decoration: none;
}
.navigation_symbol {
  object-fit: contain;
  max-height: 50px;
  max-width: 50px;
}
.link {
  border-bottom: 2px solid;
  text-decoration: none;
}
.link--secondary {
  color: $color-white;
}

/* Hero */
.section--hero {
  align-items: center;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/images/hero.png');
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  min-height: 80vh;
}
.hero_headline {
  @extend .headlineLargest;
  margin-bottom: 0.7em;
  text-align: center;
}
.hero_text {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 3em;
  max-width: 33em;
  text-align: center;
}

/* Autumn ball */
.section--presentation {
  background-color: $color-eventBg;
  border-top: 3px solid $color-sectionBorderLight;
  display: flex;
  flex-direction: row;
}
.presentation_main {
  flex-basis: 50%;
  padding: 3rem;
}
.presentation_aux {
  flex-basis: 50%;
  max-height: 500px;
  object-fit: cover;
  object-position: 0 20%;
}
.presentation_headline {
  @extend .headlineLarge;
  margin: 0 0 0.5em 0;
}
.presentation_text {
  @extend .font-text;
  margin: 0 0 2em 0;
  max-width: 33em;
}

/* Autumn ball */
.section--presentation2 {
  align-items: center;
  background-color: $color-gasqueBg;
  display: flex;
  flex-direction: column;
}
.presentation2_main {
  padding: 3rem;
}
.presentation2_aux {
  flex-basis: 30%;
  max-height: 250px;
  object-fit: contain;
}
.presentation2_headline {
  @extend .headlineLargest;
  color: $color-textSecondary;
  margin: 0 0 0.5em 0;
}
.presentation2_text {
  @extend .font-text;
  color: $color-textSecondary;
  margin: 0 0 2em 0;
  max-width: 33em;
}

.flex_filler {
  display: flex;
  flex-grow: 1;
}
.footer {
	color: $color-text;
	padding: 4em 2em 2em 2em;
	text-align: center;
}
