@import "typography",
        "colours";

.accordion {
  padding: 40px 2em 0 2em;

  @media (min-width: 660px) {
    padding: 40px 0 0 0;
  }
}
.accordion_item {
  padding: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 6px;
}
.accordion_item:hover {
  background-color: rgba(50,50,50,0.7);
}
.accordion_label {
  @extend .headlineMedium;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 10px;
}
.accordion_label::-webkit-details-marker {
  display: none;
}
.accordion_item.is-expanded .accordion_label {

  &::after {
    content: '-';
  }
}
.accordion_label::after {
  content: '+';
  color: $color-text;
  width: 30px;
}
.accordion_divider {
  margin-top: 0;
}
