/* Use this to generate names
 * http://chir.ag/projects/name-that-color/
 */
$color-white: #FFF;
$color-black: #000;

//Blues
$color-gallery:	#EEEEEE;
$color-mystic:  #DCE9ED;

//Browns
$color-woodyBrown: #4C2F2F;

//Greens
$color-willowBrook: #DCEDDE;

//Yellows
$color-gold: #FFD700;

//Greys
$color-woodsmoke:		#131516;
$color-grey30:			rgba(0,0,0,0.30);

//Darks
$color-mineShaft : #262626;

//Lights
$color-whiteLinen: #F9F2EA;

//Pink
$color-fuchsiaPink: #C357AD;

// --- USAGE OF COLORS ------
$color-pageBg: $color-mineShaft;
$color-contentBg: $color-whiteLinen;
$color-eventBg: $color-woodyBrown;
$color-gasqueBg: $color-willowBrook;
$color-sectionBorderLight: $color-gold;

$color-accent: $color-gold;

$color-text:  $color-white;
$color-textSecondary: $color-woodsmoke;

$color-buttonCtaHoverBackground: $color-white;
$color-buttonCtaHoverColor: $color-woodyBrown;
$color-buttonCtaDarkHoverBackground: $color-textSecondary;
$color-buttonCtaDarkHoverColor: $color-willowBrook;
