//Font family
$fontFamily-default: 'Roboto Condensed', sans-serif;
$fontFamily-secondary: 'Nina', sans-serif;

@font-face {
	font-family: Nina;
	src: url("../../../assets/fonts/Ninna-Regular.otf") format("opentype");
}

/* Line heights */
$lineHeight-base: 1.7;
$lineHeight-headline: 1.2;

/* Fontweights */
$fontWeight-light: 	300;
$fontWeight-normal: 400;

.font-text {
	font-family: $fontFamily-secondary;
	font-size: 18px;
	font-weight: $fontWeight-light;
	line-height: $lineHeight-base;
}

.headline_common {
	font-display: swap;
	font-family: $fontFamily-secondary;
	font-weight: $fontWeight-normal;
	line-height: $lineHeight-headline;
}

.button-text {
	font-family: $fontFamily-secondary;
	font-size: 32px;
	font-weight: $fontWeight-normal;
}

.headlineLarge
{
	@extend .headline_common;
	font-size: 24px;

	@media(min-width: 380px)
	{
		font-size: 8vw;
	}

	@media(min-width: 580px)
	{
		font-size: 60px;
	}
}

.headlineLargest
{
	@extend .headline_common;
	font-size: 32px;
	font-stretch: 100%;
	font-weight: 400;

	@media(min-width: 381px)
	{
		font-size: 10vw;
	}

	@media(min-width: 900px)
	{
		font-size: 80px;
	}
}
